.app__gallery{
    justify-content: center;
    text-align:center;
    padding-top:5rem;
    padding-bottom:5rem;
}
.gallery-subtext{
    font-size:16px;
    color:white;
    font-style:italic;
    padding:0;
    margin-top:-15px;
    margin-bottom:1.5rem;
}
.gallery-heading{
    position:relative;
    display:inline-block;
    font-size:2.2rem;
    font-style: initial;
    color:#cdb587;
}
.app__gallery_imageSlides{
    max-width:700px;
    padding:1.5rem;
    margin:auto;
    align-content: center;
    justify-content: center;
    max-height: 550px;
    border:3px solid #421400;
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
    background-color: rgb(62, 25, 18);
    transition: transform 0.2s ease,box-shadow 0.2s ease;
}
.gallery__img{
    position:relative;
    width:100%;
}
.gallery__img img{
    width:100%;
    max-height:500px;
    object-fit:cover;
    display:block;
}
.gallery__img-leftButton,
.gallery__img-rightButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

.gallery__img-leftButton {
    left: 0;
}

.gallery__img-rightButton {
    right: 0;
}